<div class="reviewer">
  <p><strong>Reviewer:</strong> <%= @review.author %></p>
  <p><strong>Product:</strong> <%= @product.name %></p>
</div>
<div>
    <p class="review"><%= @review.rating %> stars</p>
    <p class="review"><%= @review.content_body %></p>
</div>


<p class="link"><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
<p class="link"><%= link_to "Delete review", product_review_path(@product, @review),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p class="link"><%= link_to "Return to product", product_path(@product) %></p>
